#lzt-logo,
ul.blockLinksList li,
.button,
.navLink,
.navigationCogIcon::before,
.AlertsClear::before,
ul.alertsTabs li {
    transition: all 0.5s;
    opacity: 0.8;
}

#lzt-logo:hover,
.navLink:hover,
ul.alertsTabs li:hover,
.navigationCogIcon:hover,
.AlertsClear:hover {
    opacity: 1;
    transform: scale(1.1);
}

ul.blockLinksList li:hover {
    opacity: 1;
    transform: scale(1.1, 1.1);
}

.button:hover {
    transform: scale(1.050);
}