/* top bar */

#lzt-logo {
    transition: all 0.5s;
    opacity: 0.8;
}
#lzt-logo:hover {
    opacity: 1;
    transform: scale(1.04);
}

ul.blockLinksList li {
    transition: all 0.5s;
    opacity: 0.8;
}
ul.blockLinksList li:hover {
    transform: scale(1.04);
    opacity: 1;
}

.navLink {
    transition: all 0.5s;
    opacity: 0.8;
}

.navLink:hover {
    transform: scale(1.04);
    opacity: 1;
}

/* account links */

.navigationCogIcon::before,
.AlertsClear::before {
    transition: all 1.0s;
    opacity: 0.8;
}

.navigationCogIcon:hover,
.AlertsClear:hover {
    transform: scale(1.04);
    opacity: 1;
}

ul.alertsTabs li {
    transition: all 0.5s;
    opacity: 0.8;
}

ul.alertsTabs li:hover {
    transform: scale(1.04);
    opacity: 1;
}

/* section */

.button {
    transition: all 0.5s;
}
.button:hover {
    transform: scale(1.05);
}

.nodeList .list.node .nodeText {
    transition: all 0.5s;
    opacity: 0.9;
}

.nodeList .list.node .nodeText:hover {
    transform: scale(1.02);
    transform-origin: left;
    opacity: 1;
}

.subForumList.current li.node {
    transition: all 0.5s;
}